body{
    margin:0;
    padding: 0;
}
.game-section{
    height: 100vh;
    background-color: #000;
    border: 10px solid #b1b1b1;
    border-image: url(img/Glitch-border.jpg);
    box-sizing: border-box;
    border-image-repeat: repeat;
    border-image-slice:20 ;
    display: table;
    width: 100%;

}
.game-section h1{
    color: #fff;
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;

}
.footer-section{
    min-height:50vh;
    background-color: #BB25F0;

}
.logo{
    display: block;
    width: 100px;
    width: auto;
    margin:0 auto;
    padding: 60px 0;
}
.social-row {
    display:flex;
    list-style: none;
    margin: 0 25%;
    align-content: center;
    justify-content: space-around;
    padding: 25px 0;

}
.social-row li{
    display: block;
    align-content: center;
}
.social-row-content::before{
    content:"";
    display: block;
    width:70%;
    height:9px;
    background-color: #1B1B1B;
    margin: 0 auto;


}
.social-row img{
    width:50px;
    border:20px solid #1b1b1b;
    border-image: url(img/глитч1111.png ) ;
    border-image-repeat: repeat;
    border-image-slice:20 ;
    border-image-outset:0 10px;
    height: 50px;
}
.license{
    padding: 30px 0 ;
    background-color: #1b1b1b;
}

.license p {
    margin: 0 auto;
    padding:0 ;
    color: #BB25F0;
    display: table;
    font-family: 'Ubuntu', sans-serif;
}